<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
  <thead>
      <tr>
        <th>Renk</th>
      </tr>
    </thead>
</table>
<ul class="list-group">
  <li [class]="getAllColorClass()" routerLink = "/cars">Tüm Renkler</li>
  <li (click)="setCurrentColor(color)" 
  routerLink = "/cars/color/{{color.colorName}}"
  *ngFor="let color of colors"
  [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
  </ul>
